@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "My Orders";
    decimal totalOrdersPrice = (decimal)this.ViewBag.TotalOrdersPrice;
}

<h1>My Orders</h1>

@if (!Model.Any())
{
    <h5>You do not have any orders yet!</h5>
    return;
}
<div class="container" style="margin-bottom:140px;">
    <div class="row">
        @foreach (var order in Model)
        {
            <div class="table-responsive col-lg-6 text-lg-left">
                <table id="@order.OrderId" class="table table-sm table-hover" style="font-size:12px">
                    <thead>
                        <tr>
                            <th scope="col">Order ID: @order.OrderId</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">
                                @if (order.Status == Status.Sent)
                                {
                                    <a class="orderSignalIconSent"></a>
                                }
                                else if (order.Status == Status.InProgress)
                                {
                                    <a class="orderSignalIconProgress"></a>
                                }
                                else
                                {
                                    <a class="orderSignalIconDelivered"></a>
                                }
                            </th>
                            <th scope="col">
                                <span class="spanBlock">Status: @order.Status</span>
                            </th>
                            <th scope="col">
                                <i class="fas fa-stopwatch" style="display:none"></i>
                                <div class="timer">
                                    @order.StartTime.ToString("o")Z
                                    @if (order.DeliverTime != null)
                                    {
                                        @order.DeliverTime?.ToString("o");@:Z
                                    }
                                    @*yyyy-MM-ddTHH:mm:ss*@
                                </div>
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </th>

                        </tr>
                        <tr>
                            <th scope="col">Product Picture</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    @foreach (var product in order.Products)
                    {
                        <tr>
                            <td><img width="30" height="30" class="rounded-circle" src="@product.ImageTumbUrl" alt="@product.Name" /></td>
                            <td><a asp-area="" asp-controller="Products" asp-action="Details" asp-route-slug="@product.Slug">@product.Name</a></td>
                            <td>@product.CategoryName</td>
                            <td>@product.Quantity Qty x</td>
                            <partial name="_PriceOrPromotionalPricePartial" model="product" />
                            <td>@product.Total lv.</td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @if (order.Status == Status.Delivered)
                            {
                                <form class="pays" method="post" asp-area="Cooker" asp-controller="Home" asp-action="Agree">
                                    <input type="hidden" name="OrderId" value="@order.OrderId" />
                                    <input class="btn btn-sm btn-success" type="submit" value="Pay" />
                                </form>
                            }
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @if (order.PromotionPrice != 0.0m)
                            {
                                @:Price with @this.ViewBag.Discount % discount: @order.PromotionPrice
                            }
                            else
                            {
                                @:Order price: @order.Price
                            }
                        </td>
                    </tr>
                </table>
            </div>
            @*<br />*@
        }
    </div>
</div>
@section Scripts{
    <script>
        //set global timers and variables

        let timers = [];
        let discount = @this.ViewBag.Discount;
        let discountMultiplier = 1 - (discount / 100);
        let timeLimit = @this.ViewBag.MilisecondsToTakeDiscount;
        let globalStatus = "Status", globalInProgress = "InProgress", globalDelivered = "Delivered", globalPay = "Pay",
            globalHours = " hr.", globalPriceWith = "Price with: ", globalDiscountMes = " % discount: ";
    </script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/timer.js"></script>
    <script src="~/js/MyOrders.js"></script>
}
