@model ProductsPaginationViewModel
@{
    ViewData["Title"] = "Home Page";
    int itemsPerRow = (int)this.ViewData["ItemsPerRow"] + 1;
    int items = itemsPerRow;
    int scoreDecks = 0;
    int productCount = Model.Products.Count();
    var decks = productCount / (items - 1);
    var deckPercentage = productCount % (items - 1);
}


@* Categories logic *@
<div class="container" style="margin-bottom:10px">
    @Html.DisplayFor(m => m.Categories)
</div>


@* items logic *@
<div class="container mb-xl-5" style="margin-bottom: 140px;">

    @foreach (var product in Model.Products)
    {

        @if (itemsPerRow % items == 0)
        {
            itemsPerRow = 1;
            @:<div class="card-deck">
            }
        <div class="card">
            <img class="card-img-top" src="@product.ImageTumbUrl" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title"><a asp-controller="Products" asp-action="Details" asp-route-slug="@product.Slug">@product.Name</a></h5>
                @if (product.PromotionalPrice != 0m)
                {
                    <form method="post" asp-controller="Cart" asp-action="Add" asp-route-addedProduct="@product.Name">
                        <p class="card-text">
                            <button type="submit" class="btn btn-success text-light" style="cursor:pointer">Price: @product.PromotionalPrice lv. <i class="fas fa-shopping-cart"></i></button>
                        </p>
                    </form>
                }
                else
                {
                    <form method="post" asp-controller="Cart" asp-action="Add" asp-route-addedProduct="@product.Name">
                        <p class="card-text">
                            <button type="submit" class="btn btn-success text-light" style="cursor:pointer">Price: @product.Price lv. <i class="fas fa-shopping-cart"></i></button>
                        </p>
                    </form>
                }

                @if (product.PromotionalPrice != 0m)
                {
                    <h5 class="text-info">Save @product.Discount% of <del class="text-danger">@product.Price lv.</del></h5>
                }
                <p class="card-text"><small class="text-muted">@product.CategoryName</small></p>
            </div>
        </div>
        @if (itemsPerRow % (items - 1) == 0 || (scoreDecks == decks && deckPercentage == itemsPerRow))
        {
        @:</div>
        @:<p></p>
        scoreDecks++;
    }
        itemsPerRow++;
    }


    <partial name="_PaginationPartial" />
</div>

@* Pagination logic *@


